@CHARSET "UTF-8";




#mainblock{

	background-color:#efefef;
}

#contactM{
	
	
	text-align:center;
	font-family: Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
	font-size:150%;
	
	
}
#en{
	font-family:"Comic Sans MS", cursive, sans-serif;
}

#contactM h1,#contactM h2{
	text-align:center;
}