@CHARSET "UTF-8";


.mb{
	height:580px;
	min-width:948px;
	max-width:949px;
	
}

.banner{
	width:90%;
	margin:auto;
	min-width:1450px;
	max-width:1450px;
	height:500px;
	margin-bottom:200px;
	margin-top:50px;
}

#banner{
	
	width:100%;
	height:100%;
}

.logoname{
    height:500px;
    display:inline;
	position:relative;
	bottom: 30px;
	
	float:left;
	margin-top:100px;
	word-wrap: break-word;
	white-space: pre-line;
	
	
	
	width:100%;
	
	
	
}


#chpart{
	font-family: Georgia, "Times New Roman", "FangSong", "仿宋", STFangSong, "华文仿宋", serif;
	font-size:100px;
	color:#2b0606;
	text-align:center;
	margin:0px;
	margin-bottom:20px;
}
#enpart{
	
	
	color: #cc4e4e; 
	/*font-family: 'Helvetica Neue', sans-serif; */
	
	font-family: ‘Lucida Console’, Monaco, monospace;
	
	font-family: 'Raleway',sans-serif; 
	font-size: 62px; 
	font-weight: 800; 
	line-height: 72px; 
	margin: 0 0 24px; 
	text-align: left; 
	text-transform: uppercase;
}
