@CHARSET "UTF-8";

html, body{
	height:100%;
}


nav{
	
	display:block;
	
	left: 0;
    top: 0;
    
	position:absolute;
	
	width:100%;
	height:60px;
	background:white;
	z-index:999;
	
	

	font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
	font-weight: 800;
	min-width:1580px;
	width:100%;
	overflow:visible;
	
	
	
	
	
}


nav ul{
            display:inline;
	    list-style-type: disc;
	    position:relative;
	    bottom:70px;
	    
}

#secondhalf, #firsthalf{
		padding-left:0px;
	
}

#firstli{
	padding-left:20px;
}


nav img{
	padding-right:0px;
	padding-left:30px;
	position:relative;
	width:100px;
	height:120px;
}

nav ul li{
	display:inline;
	padding-left:40px;
}

nav ul li a {
	
    color: grey;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

body{
	background-color: #ebebeb;
	
	width:100%;
	padding:0px;
	margin:0px;
	height:100%;
	vertical-align:baseline;
	min-width:1339px;
	
}

#mainblock{
	
	
	width:50%;

	margin:auto;
	width:60%;
	height:1200px;
	
	margin-top:60px;
	z-index=1;
}



.logoname{
    height:300px;
    display:inline;
	position:relative;
	bottom: 30px;
	font-size:300%;
	float:left;
	margin-top:70px;
	word-wrap: break-word;
	white-space: pre-line;
	
	
}

#enpart{
	
	font-style: italic;
	font-family: cursive;
}

#chpart{
	font-family: Georgia, "Times New Roman", "FangSong", "仿宋", STFangSong, "华文仿宋", serif;
}

#banner{
	
	height:650px;
	width:950px;
}

#footer{
	height:200px;
	background-color:white;
	vertical-align:baseline;
	float:left;
	min-width:1400px;
	width:100%;

}


#contactinfo{
	
	width:65%;
	height:200px;
	margin:auto;
	min-width:900px;
	
}




#address, #contact, #brochure{
	text-align:left;
	display:inline;
	width:300px;
	height:200px;
	
	
	float:left;
	font-family: Arial, Helvetica, tahoma, verdana, 宋体, SimSun, 华文细黑, STXihei, sans-serif;
}

#footer h1,#footer h2,#footer h3{
	margin-top:10px;
	margin-bottom:10px;
	font-size:170%;
	font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
}

.mb{
	min-width:900px;
	z-index=1;
}





