@CHARSET "UTF-8";

html, body{
	
}

/* The navigation/menu part */
/* Just A Container That contains the contents of menu */
/* Always stay top, and on top of other contents 
   Cover full width of the screen */
#menu{
	width:100%;
	
	min-width:1600px;
	
    position:absolute;
	
	top:0;
	
	height:60px;
	background:white;
	z-index:999;
	
}

/* Navigation divition */

/* General font format inside nav,
   Always be at the center of the screen */
nav{
	
	display:block;
	
	left: 0;
    top: 0;
    
	
	

	font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	max-width:fit-content;
	min-width:1580px;
	width:95%;
	
	margin:auto;
	overflow:visible;
	
	height:100%;
	
	
	
	
	
	
}

/* Units inside nav,
   styles, position*/
nav ul{
        display:inline-block;
	    list-style-type: disc;
	    position:relative;
	    bottom:90px;
	    
}

/* lists inside nav,
   menu bar are represented and break down into two lists*/
#secondhalf, #firsthalf{
		padding-left:0px;
	
}


/* Locates betwen #secondhalf and #firsthalf
	Contains an image
*/
#MI{
	display:inline-block;
}

nav img{	
	
	margin-left:5px;

	width:110px;
	height:125px;
}



/* General format for each list item in nav tag*/
nav ul li{
	display:inline;
	padding-left:20px;
	
}

/* Contents of list items*/
/* General format*/
nav ul li a {
	
    color: rgb(43, 6, 6);
    padding: 10px ;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    border-left: 3px solid rgb(6, 33, 99); 
	border-right: 3px solid rgb(6, 33, 99);
	transition: 0.5s ease;
	
}
/*Hover Effect*/
nav ul li a:hover{
	font-weight:900;
	color:blue;
	 border-left: 3px solid rgb(43, 6, 6);
	 border-right: 3px solid rgb(43, 6, 6);
}


/* Whole Website Body/Content,
   background color,
   size modification
*/
body{
	background-color: #ebebeb;
	
	width:100%;
	min-width:fit-content;
	padding:0px;
	margin:0px;
	
	height:100%;
	
	
	
	
	
}

/* Main Content */
/* General Format on size and background color*/
#mainblock{
	
	
	width:100%;
	
	min-width:1580px;
	
	background-color: #ebebeb;
	
	
}
/* Restriction on position and size*/ 
.mb{
	width:948px;
	width:60%;
	margin-left:250px;
	margin-left:auto;
	margin-right:auto;
	min-width:948px;
	max-width:949px;
	background-color: #efefef;
	position:relative;
	height:100%;
	
}

/* Div just to keep footer divition center*/
#footercontainer{
	height:390px;
	width:100%;
	background-color:grey;
	
}

/* Div wrap all footer content*/
#footer{
	height:100%;
	background-color:grey;
	

	min-width:1580px;
	max-width:fit-content;
	width:80%;
	margin:auto;
    
}

/* Footer content*/
/* Genral format on size*/
#contactinfo{
	
	width:944px;
	width:fit-content;
	height:340px;
	
	
	margin:auto;
	
}
/* Genral format on font*/
#address, #contact, #brochure{
	
	display:inline;
	width:310px;
	height:200px;
	margin-top:25px;
	margin-bottom:25px;
	
	float:left;
	font-family: Arial, Helvetica, tahoma, verdana, 宋体, SimSun, 华文细黑, STXihei, sans-serif;
	
	color:white;
	font-size:1em;
}
/* General format on headers*/
#footer h1,#footer h2,#footer h3{
	margin-top:10px;
	margin-bottom:10px;

	font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
	text-align:center;
	font-size:1em;
}
/* Special format setting*/ 
#contact, #address{
	
	border-left:2px solid;
	padding-left:5px;
}

/* Genral format for line spacing*/
#contactinfo span{
	width:300px;
	display:block;

	text-align:center;
	
	 line-height: 30px;
    
	
}
#contact span{
	text-align:left;
	
	
}

/* Genral format for icons in #contactinfo*/
#contactinfo span img{
	
	width:35px;
	height:35px;
	display:inline-block;
	vertical-align:middle;
	margin-left:5px;
	margin-right:5px;
}

/* Statement for Company Type*/
#companytag{
	width:100%;
	text-align:center;
}



