@CHARSET "UTF-8";




#mainblock{

	background-color:#efefef;
	height:1360px;
}

#cn, #en{
	
	color: black;
	
	text-align:left;
	font-family: Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
	
	font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    text-indent: 36px;
	
	max-width:700px;
	width:90%;
	margin:auto;
}
#en{

    font-family: 'Alegreya Sans';
   
}

#cn h5,#en h6{
	text-align:center;
	font-size:2em;
	font-family:"Comic Sans MS", cursive, sans-serif;
	color: #e0354c;
}

#tabs {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top:160px;
  }

#tabs li {
  float: left;
  margin: 0 .5em 0 0;
}

#tabs a {
  position: relative;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  padding: .7em 3.5em;
  float: left;
  text-decoration: none;
  color: #D8672F;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  border-radius: 5px 0 0 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.4);
  font-size:1.4em;
  font-weight:bold;
  letter-spacing:3px;
 
  font-family:Verdana, Geneva, sans-serif;
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
  background: #fff;
}

#tabs a:focus {
  outline: 0;
}

#tabs a::after {
  content:'';
  position:absolute;
  z-index: 1;
  top: 0;
  right: -.5em;  
  bottom: 0;
  width: 1em;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  transform: skew(10deg);
  border-radius: 0 5px 0 0;  
}

#tabs #current a,
#tabs #current a::after {
  background: #fff;
  z-index: 3;
}

#content{
	width:100%;
	height: 1100px;
}

.staff{
	
	height:200px;
	width:100%;
	font-size:1.2em;
	line-height:30px;
	letter-spacing:4px;
	font-style:italic;
	
}


#Name{
	font-family:georgia, serif;
   color:#A90466;
   font-size:1.3em;
   font-weight:bold;
   letter-spacing:.1em;
   text-transform:uppercase;
   padding-bottom:3px;
	
}

#jobtitle{
	font-family:Papyrus,fantasy;
	letter-spacing:0.1em;
	line-height:35px;
	font-weight:800;
	color:#071977;
	font-size:1.22em;
}