/*Title 1 styling Chinese ttitle*/
#jumbotron1{
  background-image: url("../img/storypic2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color:white;
  min-height: 300px;
  padding-left:10px;
  padding-bottom: 0px;
  padding-top: 30%;
  font-weight: bold;
}
#jumbotron1 h1{
  color:white;
  font-weight: bold;
  font-size: 80px;
  font-family: 'cwTeXMing', serif;
}

/*Content Styling*/
p.lead, #right_list{
  font-family: 'cwTeXYen', sans-serif;
  padding-left:80px;
  padding-right:80px;
  padding-top:40px;
  font-size: 1.8em;

}


/*Title 2 styling, English title*/
#jumbotron2{
  background-image: url("../img/storypic11.jpg");
  background-size: 100%;
  color:white;
  min-height: 300px;
  padding-left:10px;
  padding-bottom: 0px;
  padding-top: 30%;
  font-weight: bold;
  margin-top:100px;
}
#jumbotron2 h1{
  color:white;
  font-weight: bold;
  font-size: 80px;
}

/*Separate Styling for English Contents*/
p.en,#right_list_en{
  padding-left:80px;
  padding-right:80px;
  padding-top:40px;
  font-size: 1.8em;
  font-family: 'Handlee', cursive;
}

/*
  Adjust jumbotron's styling for mobile
  Adjust font size
*/
@media screen and (max-width: 650px){
  #jumbotron2,#jumbotron1{
    min-height: 0;
    background-repeat: no-repeat;
  }
  #jumbotron2 h1,#jumbotron1 h1{
    font-size: 50px;
  }
  p.lead,.en,#right_list,#right_list_en{
    font-size: 1.4em;
    padding-left:20px;
    padding-right:20px;
  }
}
