@CHARSET "UTF-8";




#service{
	
	
	
	width:100%;
}

#lists{
	
	width:1200px;
}
#enlist{
	
    font-family: 'Alegreya Sans';
   
}

#servicetitle1 img{ 

   width: 100%; 
   height: 100%;
   margin:0px;
   padding:0px;
   display:inline-block;
}

h6{ 
   position: absolute; 
   top: 380px; 
   left: 0; 
   width: 900px; 
   color:white;
   margin:0;
   text-align:left;
}
h6 span{
   
   color: #e0354c; 
   font: bold 35px/60px Helvetica, Sans-Serif; 
   letter-spacing: 10px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 

}
#servicetitle1{
	width:100%;
	position:relative;
	padding-top:80px;
	height:490px;
	
}

#servicetitle2 img{ 

   width: 100%; 
   height: 100%;
   margin:0px;
   padding:0px;
   display:inline-block;
}

h5{ 
   position: absolute; 
   top: 380px; 
   left: 0; 
   width: 900px; 
   color:white;
   margin:0;
   text-align:left;
}
h5 span{
   
   color: #e0354c; 
   font: bold 35px/60px Helvetica, Sans-Serif; 
   letter-spacing: 10px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 

}
#servicetitle2{
	width:100%;
	position:relative;
	padding-top:80px;
	height:490px;
	
}

.justalist{
	display:inline-block;
	list-style-type:none;
	font-size:20px;
	font-weight:200;
	line-height:36px;
	text-indent:40px;
	text-align:left;
	
}

.justalist li{
	background:linear-gradient(141deg, #DADADA 0%, #93D5DC 51%, #94DAF5 75%);
	color: #CA1515;
	opacity: 0.95;
	margin:4px;
	position:relative;
}

.justalist li::before{
	content: "~";
	color:#CA1515;
 
	position:absolute;
	left:-1.5em;
}

#mainblock{
	height:3400px;
}

#cnlist, #enlist{
	color: black;
	
	
	font-family: Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
	
	font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    text-indent: 36px;
}
