@CHARSET "UTF-8";




#mainblock{

	background-color:#efefef;
	height:1900px;
}

.fade_away{
	
	width:350px;
	height:230px;
	opacity: 0.5;
	position:absolute;
	z-index:0;
	
}

#first{
	
	left:50px;
	top:400px;
	
	
}

#third{
	
	left:1110px;
	top:240px;
}

#second{
	
	left:440px;
	top:950px;
}

#storytime{
	
	height:1600px;
	float:left;
}

#storytime h5, #storytime h6{
	text-align:center;
}


#cn, #en{
	
	
	float:left;
	text-align:left;
	font-family: Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
	font-size:150%;
	
	
}
#en{
	font-family:"Comic Sans MS", cursive, sans-serif;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  float:left;
  
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

