@CHARSET "UTF-8";




#mainblock{

	background-color:#efefef;
	height:1660px;
}

.fade_away{
	
	width:350px;
	height:230px;
	opacity: 0.5;
	position:absolute;
	z-index:0;
	
}

#first{
	
	left:50px;
	top:400px;
	
	
}

#third{
	
	left:1110px;
	top:240px;
}

#second{
	
	left:440px;
	top:950px;
}


#cn, #en{
	
	
	float:left;
	text-align:left;
	font-family: Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
	font-size:150%;
	
	
}
#en{
	font-family:"Comic Sans MS", cursive, sans-serif;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  float:left;
  
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  display:none;
}

.slidepic{
	height:100%;
	width:100%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#storytime{
	

	width:100%;
	
	margin:auto;
	
}

.right, .left , .mid{
	
	height:100%;
	display:inline-block;
}

.left{
	
	background-color:white;
	float:left;
	width:720px;
	
}

.right{
	width:480px;
	
}

.mid{
	width:290px;
}


#partone{
	width:70%;
	float:center;
	margin:auto;
}


#parttwo{
	height:260px;
}



.mySlides1,.mySlides2,.mySlides3{
	height:200px;
}



#storytitle img { 

   width: 100%; /* for IE 6 */
   height: 490px;
}

h5{ 
   position: absolute; 
   top: 235px; 
   left: 0; 
   width: 100%; 
   font-size:1.5em;
   color:#e0354c;
}
h5 span{
   color: #e0354c; 
   font: bold 35px/60px Helvetica, Sans-Serif; 
     
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
   letter-spacing:5px;
}
#storytitle{
	width:100%;
	position:relative;
	padding-top:140px;
	
}

p{
	text-align:left;
	font-family: Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
	
	font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    text-indent: 36px;

}

.part{
	
	width:300px;
	height:200px;
	float:left;
}

#ss{
	width:900px;
	margin:auto;
	height:200px;
}