@CHARSET "UTF-8";




#mainblock{

	background-color:#efefef;
	height:1900px;
}

.fade_away{
	
	width:350px;
	height:230px;
	opacity: 0.5;
	position:absolute;
	z-index:0;
	
}

#first{
	
	left:50px;
	top:400px;
	
	
}

#third{
	
	left:1110px;
	top:240px;
}

#second{
	
	left:440px;
	top:950px;
}

#storytime{
	
	
	text-align:left;
	font-family: Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
	font-size:150%;
	height:1600px;
	float:left;
}

#storytime h5{
	text-align:center;
}


#cn, #en{
	
	
	float:left;
	text-align:left;
	font-family: Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
	font-size:150%;
	
	
}
#en{
	font-family:"Comic Sans MS", cursive, sans-serif;
}